
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btnSize{
        height:50px;
        width:150px;
    }
</style>
<h1>Menu</h1>
<table class="table">
    <tr>
        <td>
            <input type="button" class="btn btn-outline-success btn-lg btnSize" value="Matches" onclick="location.href='@Url.Action("Index", "Matches")'" />
        </td>
        <td>
            <input type="button" class="btn btn-outline-success btn-lg btnSize" value="Add Match" onclick="location.href='@Url.Action("Add", "Matches")'" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="btn btn-outline-dark btn-lg btnSize" value="Teams" onclick="location.href='@Url.Action("Index", "Teams")'" />
        </td>
        <td>
            <input type="button" class="btn btn-outline-dark btn-lg btnSize" value="Add Team" onclick="location.href='@Url.Action("Add", "Teams")'" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="btn btn-outline-warning btn-lg btnSize" value="League" onclick="location.href='@Url.Action("Index", "Leagues")'" />
        </td>
        <td>
            <input type="button" class="btn btn-outline-warning btn-lg btnSize" value="Add League" onclick="location.href='@Url.Action("Add", "Leagues")'" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="btn btn-outline-secondary btn-lg btnSize" value="Sports" onclick="location.href='@Url.Action("Index", "Sports")'" />
        </td>

        <td>
            <input type="button" class="btn btn-outline-secondary btn-lg btnSize" value="Add Sport" onclick="location.href='@Url.Action("Create", "Sports")'" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="btn btn-outline-secondary btn-lg btnSize" value="Top Match Config" onclick="location.href='@Url.Action("TopMatchIndex", "Admin")'" />
        </td>
        <td>
            <input type="button" class="btn btn-outline-secondary btn-lg btnSize" value="Users List" onclick="location.href='@Url.Action("UsersList", "Account")'" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="btn btn-outline-success btn-lg btnSize" value="Football Export" onclick="location.href='@Url.Action("ExportDatabase", "Admin")'" />
        </td>
        <td>
            <input type="button" class="btn btn-outline-success btn-lg btnSize" value="Football Import" onclick="location.href='@Url.Action("ImportDatabase", "Admin")'" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="btn btn-outline-danger btn-lg btnSize" value="Tennis Export" onclick="location.href='@Url.Action("ExportTwoPlayerDatabase", "Admin")'" />
        </td>
        <td>
            <input type="button" class="btn btn-outline-danger btn-lg btnSize" value="Tennis Import" onclick="location.href='@Url.Action("ImportTwoPlayerDatabase", "Admin")'" />
        </td>
    </tr>
    </table>
