@model IEnumerable<Aplikacija_za_kladenje.Models.BetSlip>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bet Slip</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopMatch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("UserBet", "UserBets", new { CashOut = TempData["CashOut"], TotalOdd = TempData["Odd"] }, FormMethod.Post))
        {
            @foreach (var item in Model)
            {
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HomeTeam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AwayTeam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Odd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TopMatch)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
            <tr>
                <td>Saldo: @TempData["Saldo"]</td>
                <td>Total Odd: @TempData["Odd"]</td>
                <td>Number of matches: @TempData["NumberOfMatches"]</td>
                <td>Cash Out: <span id="cashOut"></span> @TempData["CashOut"]</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="text" name="Stake" id="stake" pattern="^[.]?[0-9]+[,]?[0-9]*$" placeholder="Enter the amount in format 0,00" class="form-control" /></td>
                <td></td>
                <td><button type="submit" value="Potvrdi" name="submit" class="btn btn-primary">Accept</button></td>
                <td><button type="submit" value="Remove" name="submit" class="btn btn-primary">Remove All</button></td>
            </tr>

        }
    </tbody>
</table>


<script>

    var odd = parseFloat(("@TempData["Odd"]").replace(",","."));

    var stakeDOM =  document.getElementById("stake")
   stakeDOM.addEventListener("click", function (event) {
      event.preventDefault()

      document.getElementById("cashOut").innerHTML = ((parseFloat(stakeDOM.value) / 100 * 95) * odd).toFixed(2)
 
});
</script>
@if (@TempData["betmsg"] != null)
{
    <script>alert("@TempData["betmsg"]");</script>
}