@model IEnumerable<Aplikacija_za_kladenje.Models.BetSlip>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopMatch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("UserBet", "UserBets", new { CashOut=TempData["CashOut"], TotalOdd=TempData["Odd"]},FormMethod.Post))
        {
            @foreach (var item in Model)
            {
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HomeTeam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AwayTeam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Odd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TopMatch)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                    }
                }
    <tr>
        <td>Saldo: @TempData["Saldo"]</td>
        <td>Total Odd: @TempData["Odd"]</td>
        <td>Number of matches: @TempData["NumberOfMatches"]</td>
        <td>Cash Out: <span id="cashOut"></span> @TempData["CashOut"]</td>
        <td><input type="text" name="Stake" id="stake" class="form-control" /></td>
        <td><button type="submit" value="Potvrdi" name="submit" class="form-control">Accept</button></td>
        <td><button type="submit" value="Remove" name="submit" class="form-control">Remove All</button></td>
    </tr>
        }
    </tbody>
</table>


<script>

    var odd = parseFloat(("@TempData["Odd"]").replace(",","."));    

    var stakeDOM =  document.getElementById("stake")
   stakeDOM.addEventListener("keyup", function (event) {
  if (event.keyCode === 13) {
      event.preventDefault()

      document.getElementById("cashOut").innerHTML = ((parseFloat(stakeDOM.value) / 100 * 95) * odd).toFixed(2)
    }
});
</script>