@model IEnumerable<BettingApplication.Models.Team>

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btnSize {
        height: 40px;
        width: 120px;
    }
    body {
        background-color: #121212;
        color: white;
    }

    th {
        color: white;
    }

    td {
        color: white;
    }
</style>
<h1>Add</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                ResultLeaguesModel
            </th>
            <th>
                First Team
            </th>
            <th>
                Second Team
            </th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("Matches", "Add", new { }, FormMethod.Post))
        {
        <tr>
            <td>
                @{
                    string temp = null;
                }
                <select name="ResultLeaguesModel" id="1">
                    <option value="0">Select ResultLeaguesModel</option>

                    @{
                        foreach (var item in Model)
                        {
                            @if (@temp != item.League.Name)
                            {
                                <option value="@item.League.Name">@item.League.Name</option>
                            }
                            temp = item.League.Name;
                        }
                    }

                </select>
            </td>
            <td>
                <select name="First" id="2">
                    <option value="0">Select Team</option>

                    @{
                        foreach (var item in Model)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }

                </select>
            </td>
            <td>
                <select name="Second" id="3">
                    <option value="1">Select Team</option>

                    @{
                        foreach (var item in Model)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }

                </select>
            </td>
            </tr>
    <thead>
        <tr>
            <th>
                1
            </th>
            <th>
                X
            </th>
            <th>
                2
            </th>
            <th>
                1X
            </th>
            <th>
                X2
            </th>
            <th>
                12
            </th>
            <th>
                Top Match
            </th>
        </tr>
    </thead>
        
        <tr>
            <td>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input name="_1" class="form-control" placeholder="Ex. 1,45" />
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input name="_X" class="form-control" placeholder="Ex. 3,50" />
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input name="_2" class="form-control" placeholder="Ex. 7" />
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input name="_1X" class="form-control" placeholder="Ex. 1,10" />
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input name="_X2" class="form-control" placeholder="Ex. 4,50" />
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input name="_12" class="form-control" placeholder="Ex. 1,7" />
                </div>
            </td>
            <td>
                <input type="checkbox" name="topMatch" value="true"><br>
            </td>
        </tr>
            
        <tr>
            <td>
                <input type="submit" value="Create match" class="btn btn-outline-success btnSize" />
            </td>
            <td>
                <input type="button" class="btn btn-outline-primary btnSize" value="Add Team" onclick="location.href='@Url.Action("Add", "Teams")'" />
            </td>
            <td>
                <input type="button" class="btn btn-outline-warning btnSize" value="Add League" onclick="location.href='@Url.Action("Add", "League")'" />
            </td>
            <td>
                <input type="button" class="btn btn-outline-secondary btnSize" value="Add Sport" onclick="location.href='@Url.Action("Create", "Sport")'" />
            </td>
            
        </tr>
           
        }
    </tbody>
</table>
