@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BettingApplication</title>
    <style>
        header {
            background-color: darkred;
        }
        .navbar-collapse ul {
            justify-content: center;
            align-items: center;
            font-size: 3vh;
            display: flex;
            flex-direction: row;
            height: 4vh;
        }
        .btnSize {
            display: block;
            height: 100%;
            border-right: black solid 1px;
            min-width: 10vw;
            text-align: center;
            color: white;
        }
        .btnSize:hover {
            text-decoration: none;
            background-color: grey;
            color: white;
        }
        .account-data {
            font-size: 2vh;
            font-weight: bold;
            color: yellowgreen;
        }
        .account-data-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            margin-left: 2vw;
            height: 100%;
            width: 10vw;
        }
        .main-container {
            padding: 0 0 0 0;
            align-items: center;
        }
    </style>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="@Href("css/site.css")" />

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {

                            {
                                ViewBag.UserName = Context.Session.GetString("UserName");
                            }

                            <li class="nav-item">
                                <a class="btnSize" asp-area="" asp-controller="Home" asp-action="Index">Matches</a>
                            </li>
                            <li class="nav-item">
                                <a class="btnSize" asp-area="" asp-controller="Home" asp-action="TwoPlayerIndex">Tennis</a>
                            </li>
                            <li class="nav-item">
                                <a class="btnSize" asp-area="" asp-controller="Home" asp-action="TopMatchesIndex">Top Matches</a>
                            </li>
                            <li class="nav-item">
                                <a class="btnSize" asp-area="" asp-controller="UserBets" asp-action="Index">UserBet</a>
                            </li>
                            <li class="nav-item">
                                <a class="btnSize" asp-area="" asp-controller="Wallets" asp-action="Index">Wallet</a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="btnSize" asp-area="" asp-controller="Admin" asp-action="Menu">Admin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="badge badge-pill badge-success" asp-area="" asp-controller="Account" asp-action="UsersForActivate">@TempData["UsersForActivate"]</a>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="btnSize" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                            <div class ="account-data-container">
                                <h3 class="account-data" asp-area="">@TempData["Username"]</h3>
                                <h3 class="account-data" asp-area="">@TempData["Saldo"]</h3>
                            </div>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btnSize" asp-area="" asp-controller="Home" asp-action="Index">Matches</a>
                            </li>
                            <li class="nav-item">
                                <a class="btnSize" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="btnSize" asp-area="" asp-controller="Account" asp-action="Register">Registration</a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class ="main-container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Betting Application - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@


    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
